<style>
    .main {float: left;}
    .main section {width: 50%; float: left;}
</style>

<nav>
    <img src="https://st4.depositphotos.com/13863694/26868/v/450/depositphotos_268689386-stock-illustration-wikipedia-logo-isolated-vector-illustration.jpg" class="img" alt="">
    <label class="name">Maddypedia</label>
</nav>
    <section>
<section class="main">   
    <div class="row">
        <div class="col-lg-2">
            <div class="main-box">
            <div class="side-menu-list">
                <ul class="menu-items">
                    <li (click)="goTo('MainPage')" [ngClass]="{'onActive' : selectedMenu == 'MainPage'}"> <i class="fa fa-home"></i>
                        <a routerLink="/mainpage"> MainPage </a>
                    </li>
                    <li (click)="goTo('CurrentEvents')"  [ngClass]="{'onActive' : selectedMenu == 'CurrentEvents'}"><i class="fa fa-calendar"></i>
                        <a routerLink="/events"> CurrentEvents </a>
                    </li>
                    <li (click)="goTo('Contents')"  [ngClass]="{'onActive' : selectedMenu == 'Contents'}"> <i class="fa fa-cc"></i>
                        <a routerLink="/contents"> Contents </a>
                    </li>
                    <li (click)="goTo('RandomArticle')"  [ngClass]="{'onActive' : selectedMenu == 'RandomArticle'}"> <i class="fa fa-newspaper-o"></i>
                        <a routerLink="/article"> Article </a>
                    </li>
                    <li (click)="goTo('ContactUs')"  [ngClass]="{'onActive' : selectedMenu == 'ContactUs'}"> <i class="fa fa-phone-square"></i>
                        <a routerLink="/contact"> Contact </a>
                    </li>
                    <li (click)="goTo('AboutUs')"  [ngClass]="{'onActive' : selectedMenu == 'AboutUs'}"> <i class="fa fa-user-circle-o"></i>
                        <a routerLink="/about"> About </a>
                    </li>
                    <li (click)="goTo('Help')"  [ngClass]="{'onActive' : selectedMenu == 'Help'}"> <i class="fa fa-question-circle"></i>
                        <a routerLink="/help"> Help </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>

        <!-- <div class="col-lg-10">
            <div class="side-menu-content">
                <div class="tabs" *ngIf="selectedMenu == 'MainPage'">
                    This is MainPage
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'CurrentEvents'">
                    This is Current Events
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'Contents'">
                    This is Contents
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'RandomArticle'">
                    This is Random Article
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'ContactUs'">
                    This is Contact Us
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'AboutUs'">
                    This is About Us
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'Help'">
                    This is Help
                </div>

            </div>
        </div> -->

    </div>


</section>
        <section>
            <span><router-outlet></router-outlet></span>
        </section>
</section>

